<% content_for :title, "Editing training" %>

<h1>Editing training</h1>

<%= render "form", training: @training %>

<br>

<div class="float-right flex flex-row gap-5">
  <span class="rounded-full bg-blue-300"><%= link_to "一覧に戻る", trainings_path %></span>
</div>
