<p style="color: green"><%= notice %></p>

<% content_for :title, "Trainings" %>

<br>

<div id="trainings" class="space-y-6">
  <% @trainings.each do |training| %>
    <%= render training %>
   
  <% end %>
</div>
