<p style="color: green"><%= notice %></p>

<% content_for :title, "Trainings" %>

<h1>Trainings</h1>

<div id="trainings" class="space-y-6">
  <% @trainings.each do |training| %>
    <%= render training %>
   
  <% end %>
</div>

<%= link_to "New training", new_training_path %>
