<div class="pt-6 text-center">
<p>作成中</p>



<%= image_tag "training/screenshot_20250617_191946.png", alt: "トレーニング画面", class: "w-48 mx-auto rounded shadow" %>







<%= link_to "トップページに戻る", root_path, class: "text-blue-600 hover:underline" %>
</div>