<div>
  <h1 class="text-7xl font-extrabold text-center">F T T</h1>

  <div class="grid grid-cols-2 gap-3 text-center mt-8 ">
    <%= link_to "サインアップ", "#" %>
    <%= link_to "ログイン", "#" %>
    <%= link_to "チーム作成", "#" %>
    <%= link_to "管理者ログイン", "#" %>
  </div>

  <h2 class="text-center mt-30">チームでトレーニング状況の記録、
  </h2>
  <h2 class="text-center">チームメイトとトレーニングの共有ができます。
  </h2>
</div>