<div class="flex flex-col items-center justify-center min-h-[80vh] text-center px-4">

  <h1 class="text-7xl font-extrabold mb-2">F T T</h1>
  <h2 class="text-gray-500 mb-8">~football team training~</h2>

  <% if user_signed_in? %>
   <div class="text-7xl font-bold text-gray-400"> WELCOME </div>
   <% else %>
   <div class="grid grid-cols-2 gap-3 mb-6">
    <%= link_to "サインアップ", new_member_registration_path, class: "underline text-blue-600" %>
    <%= link_to "ログイン", user_session_path, class: "underline text-blue-600" %>
   </div>
  <% end %>

  <h2 class="mt-4">チームでトレーニング状況の記録、</h2>
  <h2>チームメイトとトレーニングの共有ができます。</h2>

</div>

