<div class="bg-gray-100 text-center py-2 text-gray-500 z-40">
  <div class="bg-blue-500 text-white py-2">
    <div class="flex justify-center space-x-6">
      <%= link_to "<<プライバシーポリシー>>", privacy_path, class: "text-sm text-white hover:underline" %>
      <%= link_to "<<利用規約>>", "#", class: "text-sm text-white hover:underline" %>
      <%= link_to "<<使い方>>", "#", class: "text-sm text-white hover:underline" %>
    </div>
  </div>
</div>
