<footer class="bg-gray-100 text-center py-4 text-gray-500 z-50">
    <div class="bg-blue-500 text-white ">
       <p class: " text-center py-4 hover:bg-blue-600 flex-1 ">未ログイン</p>
       <%= link_to "プライバシーポリシー", privacy_path, class: "text-sm text-white hover:underline" %>

    </div>
</footer>

