<div class="bg-gray-100 text-center py-2 text-gray-500 z-40">
    <div class="bg-blue-500 text-white ">
       <%= link_to "<<プライバシーポリシー>>", privacy_path, class: "text-sm text-white hover:underline" %>
    </div>
</div>

