<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold"><%= link_to "F T T","/" %> </h1><span class="font-bold text-sm ">football team training</span>
       
    </div>

</header>